// #5bc0b7;
// #ffa158
// #2e529a
// #c6d5f3

$body_color: #2e529a;
$teal: #5bc0b7;
$call_to_action_bg: #5bc0b7;
$call_to_action_color: #ffffff;
$heading-font-size: 24px;

html, body {
  -webkit-text-size-adjust: none;    /* This is attempting to not have the text change on a mobile device */
  min-width: 100%;
  color: $body_color;
  /*
  background-color:#F9F9F9;
  background-image:url("images/squairs_icon_opaque.png");
  background-attachment: fixed;
  background-position:center center;
  background-repeat:no-repeat;
  */
}

.row {
  .no-gutters {
    margin-left: 0px;
    margin-right: 0px;

    [class^="col-"],
    [class*="col-"] {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .small-gutters {
    margin-left: -5px;
    margin-right: -5px;

    [class^="col-"],
    [class*="col-"] {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

ul {
  &.tiny {
    padding-left: 3px;
  }

  &.small {
    padding-left: 5px;
  }
}

.click {
  cursor: pointer;
}

.selected-bg {
  background: $teal;
  color: white;
}

.light-bg {
  background: #f5f5f5;
}

.soft {
  color: #c6d5f3;
}

.padding-tiny {
  padding: 3px;
}

.padding-small {
  padding: 5px;
}

.padding-medium {
  padding: 15px;
}

.padding-large {
  padding: 30px;
}

.margin-small {
  margin: 5px;
}

.margin-medium {
  margin: 15px;
}

.margin-large {
  margin: 30px;
}

.margin-left-small {
  margin-left: 5px;
}

.margin-right-small {
  margin-right: 5px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}

.margin-bottom-medium {
  margin-bottom: 15px;
}

.margin-bottom-large {
  margin-bottom: 30px;
}

.margin-top-small {
  margin-top: 5px;
}

.margin-top-medium {
  margin-top: 15px;
}

.margin-top-large {
  margin-top: 30px;
}

.margin-top-xlarge {
  margin-top: 50px;
}

.separate-vert-small {
  margin-top: 5px;
  margin-bottom: 5px;
}

.separate-vert-medium {
  margin-top: 10px;
  margin-bottom: 10px;
}

.separate-vert-large {
  margin-top: 30px;
  margin-bottom: 30px;
}

.text-large {
  font-size: 1.5em;
}

.text-xlarge {
  font-size: 1.75em;
}

.text-xxlarge {
  font-size: 3em;
}

.text-xxxlarge {
  font-size: 5em;
}

.text-small {
  font-size: 0.8em;
}

.text-tiny {
  font-size: 0.5em;
}
