- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.jpg")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title Sports Schedules & Results
    link(href="/public/css/app.acb4c7a68d98363f7b13350f9cddd177.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.42a684f418e9424160eb.js")
    script(type="text/javascript" src="/public/js/vendor.795bf24987d4fcc9e356.js")
    script(type="text/javascript" src="/public/js/app.f12a38822ad4f46f0d67.js")