- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.jpg")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title CFB Results and Schedules
    link(href="/public/css/app.9c32b4722ad9d5cdeb0857ea3918dd8a.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.d883d79e8f7c4a00e454.js")
    script(type="text/javascript" src="/public/js/vendor.969d22a86ec7a017c87e.js")
    script(type="text/javascript" src="/public/js/app.c6cb7e7916a7b0ac7d5f.js")