- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")
    
    link(rel="icon",href="/public/images/favicon.jpg")
    
    script(src="https://use.fontawesome.com/028467eb54.js")
    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data||{})}
    
    title CFB Results and Schedules
    link(href="/public/css/app.1295adf0c8e4a4c1d20522d4b9dc9cd4.css" rel="stylesheet")
  body
    div#app
    script(type="text/javascript" src="/public/js/manifest.1574e2098ce0cb1c54f2.js")
    script(type="text/javascript" src="/public/js/vendor.2dc7a77dcba33a4887a4.js")
    script(type="text/javascript" src="/public/js/app.7d96d933ad3dc002a9d3.js")