include includes/headerLeagues.pug

- data = data || {}

html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width")

    link(rel="icon",href="/public/images/favicon.jpg")
    link(href="/public/css/app.css" rel="stylesheet")

    script(src="https://use.fontawesome.com/028467eb54.js")

    title Sports Schedules &amp; Results
  body
    +headerLeagues(data.leagues, data.activeLeague)

    block main